@charset "UTF-8";

body {
    font-family: Roboto, sans-serif;
}

.page {
    max-width: 500px;
    margin: 0 auto;
    ul.nav {
        clear: left;
        padding: 0;
        li {
            list-style-type: none;
            float: left;
            margin: 0 0.5rem 0.5rem 0;
            &:last-child {
                float: none;
                margin: 0.5rem;
            }
        }
    }
    &.report {
        max-width: 100%;
        margin: 0 auto;
    }
}

.row {
    >div {
        float: left;
        margin: 0.5rem;
    }
    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: left;
    }
}

.showpassword {
    position: relative;
    top: -2.2rem;
    left: 14rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    user-select: none;
    &.open {
        background-color: rgba(0,0,0,0.8);
        mask: url('icons/noun_65813_cc.svg') no-repeat 50% 50%;
    }
    &.closed {
        background-color: rgba(0,0,0,0.3);
        mask: url('icons/noun_65815_cc.svg') no-repeat 50% 50%;
    }
}

.datepicker {
    input {
        text-align: center;
    }
}

.entrylist {
    padding-left: 0;
}

.timeentry {
    clear: left;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    box-shadow: rgba(0,0,0,.7)1px 1px 5px 0;
    background-color: #f0f0f0;
    >div {
        flex: 2;
        padding: 0.5rem 0 0.5rem 0.5rem;
        float: left;
        font-size: 1.1rem;
        min-height: 2rem;
        &.descr {
            min-width: 10rem;
        }
        &.log {
            padding-right: 0.2rem;
            border: none;
            flex: 1;
            padding-bottom: 0.5rem;
            text-align: center;
            min-width: 6rem;
        }
        &.project {
            flex: 1;
            min-width: 8rem;
        }
        &.jira {
            flex: 4;
            min-width: 10rem;
        }
        &.time, &.duration {
            flex: 1;
            min-width: 7rem;
        }
        &.jiraerror {
            flex: 4;
            background-color: red;
        }
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.backbutton {
    float: left;
    margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
    .backbutton {
        float: none;
    }
}

.error {
    color: red;
}

footer {
    margin: 0 1rem 1rem 0;
    text-align: right;
    color: grey;
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: -1;
}
