@charset "UTF-8";

.timeentry {
    clear: left;
    list-style-type: none;
    border-bottom: 0.1rem solid grey;
    display: flex;
    button {
        margin-right: 0.5rem;
        float: left;
    }
    div {
        padding-left: 0.5rem;
        float: left;
        border-left: 0.1rem solid grey;
        &:last-child {
            border-right: 0.1rem solid grey;
        }
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    div {
        flex: 1;
    }
    &:first-child {
        border-top: 0.1rem solid grey;
    }
}
