<div ng-include="'partials/navbar'"></div>

<div class="tasklist">
    <div class="row">
        <div class="pull-left"><a ng-href="tasks" class="btn btn-sm btn-info">Back</a></div>
    </div>
    <p>
        <label>
            From <input type="date" ng-model="import.from" ng-change="dateChanged()"/>
        </label>
        <label>
            To <input type="date" ng-model="import.to" ng-change="dateChanged()"/>
        </label>
    </p>

    <button class="btn btn-primary" ng-click="startImport()">Import</button>

    <p ng-show="importTasks.imported !== undefined"><b>{{importTasks.imported}} Tasks imported</b></p>
    <p ng-show="importTasks.tasks">{{importTasks.tasks.length}} Tasks with {{importTasks.time}} hours found:</p>
    <ul ng-show="importTasks">
        <li ng-repeat="task in importTasks.tasks">
            {{task.synced | checkmark}} {{task.nr}} {{task.issue}} {{task.hours}}:{{task.minutes}} {{task.descr}}
        </li>
    </ul>

    <div class="footer" ng-include="'partials/footer'"></div>
</div>