<div ng-include="'partials/navbar'"></div>

<div class="jiratasks">
    <div class="row">
        <div class="col-xs-6 col-md-4" ng-click="prev()"><button class="btn btn-sm btn-primary">{{prevDate | date:'dd.MM.yyyy'}}</button></div>
        <div class="col-xs-6 col-md-4" ng-click="now()"><button class="btn btn-sm btn-success">{{date | date:'EEE dd.MM.yyyy'}}</button></div>
        <div ng-show="nextDate" class="col-xs-6 col-md-4" ng-click="next()"><button class="btn btn-sm btn-primary">{{nextDate | date:'dd.MM.yyyy'}}</button></div>
    </div>
    <table ng-show="jiratasks.tasks">
        <tr ng-repeat="task in jiratasks.tasks">
            <td>{{task.nr}}</td><td>{{task.workdate | date:'dd.MM.yyyy'}}</td><td>{{('0' + task.hours).slice(-2)}}:{{('0' + task.minutes).slice(-2)}}</td><td>{{task.issue}}</td><!--<td>{{task.descr}}</td>--></tr>
        </tr>
        <tr>
            <td></td><td></td><td>{{('0' + jiratasks.hours).slice(-2)}}:{{('0' + jiratasks.minutes).slice(-2)}}</td><td></td>
        </tr>
    </table>
</div>
{{ currentUser.name }}

<div class="footer" ng-include="'partials/footer'"></div>