<div class="jumbotron" ng-controller="LoginCtrl">
    <h1>{{texts.title}}</h1>
    <p class="lead">
        <span ng-show="currentUser">{{ currentUser.name }}</span>
        <span ng-show="!currentUser">{{ texts.logintext }}</span>
    </p>

    <form class="form" name="form" novalidate>

        <div class="form-group col-lg-6">
            <label>{{texts.username}}</label>

            <input type="text"
                   name="username"
                   required
                   class="form-control"
                   ng-model="user.username">
        </div>


        <div class="form-group col-lg-6">
            <label>{{texts.password}}</label>

            <input type="password"
                   name="password"
                   required
                   class="form-control"
                   ng-model="user.password">
        </div>

        <div class="form-group has-error">
            <p class="help-block" ng-show="(form.username.$error.required || form.username.$error.username || form.password.$error.required) && submitted">
                Please enter your username and password.
            </p>
            <p class="help-block">{{ errors.other }}</p>
        </div>

        <button ng-click="signin(form)" class="btn btn-lg btn-primary"> {{texts.signin}} </button>
    </form>
</div>