<div ng-include="'partials/navbar'"></div>

<div ng-controller="TasksCtrl" class="tasklist">
    <ul class="nav nav-pills pull-left">
        <li ng-class="{active: type == 'all'}">
            <button ng-click="showAll()">All</button>
        </li>
        <li ng-class="{active: type == 'tosync'}">
            <button ng-click="showNoSync()">To Sync</button>
        </li>
    </ul>
    <div class="pull-right"><a ng-href="/jira/import">Import</a></div>

    <table ng-show="tasks.tasks">
        <tr>
            <th>Status</th>
            <th>Task</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
        </tr>
        <tr ng-repeat="task in tasks.tasks">
            <td ng-if="type == 'all'">{{task.jiraid | checkmark}}</td>
            <td ng-if="type == 'tosync'">{{task.jira | checkmark}}</td>
            <td>{{task.nr}}</td>
            <td>{{task.start | date:'dd.MM.yyyy'}}</td>
            <td ng-show="task.end">{{task.start | date:'HH:mm'}}-{{task.end | date:'HH:mm'}} {{task.end - task.start - 3600000 | date:'HH:mm'}}</td>
            <td ng-show="task.time">{{parseHours(task.time)}}:{{parseMinutes(task.time)}}</td>
            <td>{{task.descr}}</td>
            <td ng-if="type == 'tosync' && task.jira !== 'ok'" ng-click="add(task)" class="cta">Add</td>
            <td ng-if="type == 'tosync' && task.jira !== 'add' && task.jira" ng-click="sync(task)" class="cta">Sync</td>
        </tr>
    </table>

    <div class="footer" ng-include="'partials/footer'"></div>
</div>