<div ng-include="'partials/navbar'"></div>

<div class="tasklist">
    <div class="row">
        <div class="col-xs-6 col-md-4" ng-click="prev()"><button class="btn btn-sm btn-primary">{{prevDate | date:'dd.MM.yyyy'}}</button></div>
        <div class="col-xs-6 col-md-4" ng-click="now()"><button class="btn btn-sm btn-success">{{date | date:'EEE dd.MM.yyyy'}}</button></div>
        <div ng-show="nextDate" class="col-xs-6 col-md-4" ng-click="next()"><button class="btn btn-sm btn-primary">{{nextDate | date:'dd.MM.yyyy'}}</button></div>
    </div>
    <table ng-show="tasks.tasks">
        <tr ng-repeat="task in tasks.tasks">
            <td>{{task.jiraid | checkmark}}</td>
            <td>{{task.nr}}</td>
            <td>{{task.start | date:'dd.MM.yyyy'}}</td>
            <td>{{parseHours(task.time)}}:{{parseMinutes(task.time)}}</td>
            <td>{{task.descr}}</td>
        </tr>
        <tr>
            <td colspan="3"></td><td><b>{{parseHours(tasks.worked)}}:{{parseMinutes(tasks.worked)}}</b></td><td></td>
        </tr>
    </table>
    <div class="alert alert-warning" ng-hide="tasks.tasks">No worklogs on this day.</div>
    <div class="row">
        <button ng-click="getToday()" class="btn btn-sm btn-info">Today</button>
    </div>
</div>
{{ currentUser.name }}

<div class="footer" ng-include="'partials/footer'"></div>